<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
   <div class="wrapper">
      <nav class="nav">
         <div class="container">
            <div class="nav__itm">
               <a href="#" class="logo">Download-From</a>
               <div class="dropdowns">
                  <div class="dropdown">
                     <button class="drop-btn">
                        <p>Instagram Tools</p>
                        <img src="/arrow.svg" alt="down arrow icon image">
                     </button>
                     <ul class="dropdown-content">
                        <li>
                           <a href="#">Story Downloader</a>
                        </li>
                        <li>
                           <a href="#">Post Downloader</a>
                        </li>
                        <li>
                           <a href="#">Profile Photo Downloader</a>
                        </li>
                     </ul>
                  </div>
                  <div class="dropdown">
                     <button class="drop-btn">
                        <p>Youtube Tools</p>
                        <img src="/arrow.svg" alt="arrow down image">
                     </button>
                     <ul class="dropdown-content">
                        <li>
                           <a href="#">Youtube video Downloader</a>
                        </li>
                        <li>
                           <a href="#">Photo Downloader</a>
                        </li>
                        <li>
                           <a href="#">Video Downloader</a>
                        </li>
                     </ul>
                  </div>
                  <div class="dropdown">
                     <button class="drop-btn">
                        <p>Tiktok Tools</p>
                        <img src="/arrow.svg" alt="arrow down icon image">
                     </button>
                     
                     <ul class="dropdown-content">
                        <li>
                           <a href="#">Story Downloader</a>
                        </li>
                        <li>
                           <a href="#">Photo Downloader</a>
                        </li>
                        <li>
                           <a href="#">Video Downloader</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <button class="menu-btn"><img src="/menu.svg" alt="menu image"></button>
            </div>
         </div>
      </nav>
      <content class="content">
         <div class="container">
            <div class="content__itm">
               <div class="hero">
                  
                  <div class="download-section">
                     <h1>Youtube to mp3  Converter</h1>
   
                     <form class="form" action="/youtube/mp3" method="POST">
                        <label hidden for="link">Link</label>
                        <input required class="input" type="url" <% if (link)  { %>  value=<%= link %>  <% } %>placeholder="Paste your video link  here" id="link" name="link">
                        <button class="btn-submit" type="submit">Download</button>
                     </form>
                     <div class="guide">
                        <a class="guide-link" href="#">How to download</a>
                     </div>

                     <% if (audio) { %>
                        <div class="video-download-box">
                           <div style="width: 100%; display: flex; justify-content: center; margin-bottom: 25px;" class="iframe-container">
                              <iframe style="margin: 0 auto;" width="450" height="250"  src="https://www.youtube.com/embed/<%= id %>  " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                           </div>
                          
                           <table class="table-content">
                              <tr>
                                 <th>No</th>
                                 <th>Format</th>
                                 <th>Download</th>
                              </tr>
                              <% audio.forEach((e,i) => { %>
                                 <tr>
                                    <td> <%= i+1 %> </td>
                                    <td> <%= e.container %> </td>
                                    <td><a download target="blank" class="button-8" href=" <%= e.url %>">Download</a></td>
                                 </tr>
                              <% }) %> 
                           </table>
                           <% } %>
                        </div>

                     
                        <div class="social-medias">
                           <a href="#" class="media-box">
                              <img src="/tiktok.png" alt="tiktok">
                              <p>Tiktok</p>
                           </a>
                           <a href="#" class="media-box">
                              <img src="/facebook.png" alt="tiktok">
                              <p>Facebook</p>
                           </a>
                           <a href="#" class="media-box">
                              <img src="/instagram.png" alt="tiktok">
                              <p>Instagram</p>
                           </a>
                           <a href="#" class="media-box">
                              <img src="/youtube.png" alt="tiktok">
                              <p>Youtube</p>
                           </a>
                        </div>

                  </div>
                  <ul class="list-seo">
                     <li class="seo-section">
                        <div class="heading-text">
                           <h2>How to download youtube video mp4</h2>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ullam nostrum quam quibusdam quia assumenda similique placeat harum, fugit necessitatibus impedit qui saepe exercitationem pariatur!</p>
                        </div>
                        <img class="seo-img" width="355" src="/youtube-audio.jpeg" alt="youtube video download free">
                     </li>
                     <li class="seo-section-reverse">
                        <div class="heading-text">
                           <h2>How to download youtube video mp4</h2>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ullam nostrum quam quibusdam quia assumenda similique placeat harum, fugit necessitatibus impedit qui saepe exercitationem pariatur!</p>
                        </div>
                        <img class="seo-img" width="355" src="/youtube-audio.jpeg" alt="youtube video download free">
                     </li>
                     <li class="seo-section">
                        <div class="heading-text">
                           <h2>How to download youtube video mp4</h2>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ullam nostrum quam quibusdam quia assumenda similique placeat harum, fugit necessitatibus impedit qui saepe exercitationem pariatur!</p>
                        </div>
                        <img class="seo-img" width="355" src="/youtube-audio.jpeg" alt="youtube video download free">
                     </li>
                  </ul>
                  
               </div>

               
            </div>
         </div>
      </content>
   
   </div>


   <footer class="footer">
      <div class="container">
         <div class="footer__itm">
            <div class="footer-logo">
               <a class="logo" href="#">Dowload-from</a>
            </div>
            <ul class=" footer-list instagram-footer">
               <li>
                  <p>Instagram</p>
               </li>
               <li>
                  <a href="#">Story Downloader</a>
               </li>
               <li>
                  <a href="#">Video Downloader</a>
               </li>
               <li>
                  <a href="#">Post Downloader</a>
               </li>
            </ul>

            <ul class=" footer-list instagram-footer">
               <li>
                  <p>Youtube</p>
               </li>
               <li>
                  <a href="#">Story Downloader</a>
               </li>
               <li>
                  <a href="#">Video Downloader</a>
               </li>
               <li>
                  <a href="#">Post Downloader</a>
               </li>
            </ul>
            <ul class=" footer-list instagram-footer">
               <li>
                  <p>Facebook</p>
               </li>
               <li>
                  <a href="#">Story Downloader</a>
               </li>
               <li>
                  <a href="#">Video Downloader</a>
               </li>
               <li>
                  <a href="#">Post Downloader</a>
               </li>
            </ul>
            <ul class=" footer-list instagram-footer">
               <li>
                  <p>TikTok</p>
               </li>
               <li>
                  <a href="#">Story Downloader</a>
               </li>
               <li>
                  <a href="#">Video Downloader</a>
               </li>
               <li>
                  <a href="#">Post Downloader</a>
               </li>
            </ul>
            <ul class=" footer-list instagram-footer">
               <li>
                  <a href="#">Home</a>
               </li>
               <li>
                  <a href="#">About us</a>
               </li>
               <li>
                  <a href="#">Contact</a>
               </li>
            </ul>
         </div>
      </div>
   </footer>


</body>
</html>